<article itemscope itemtype="http://schema.org/Article">
<div class="page-header">
  <h1 itemprop="name">{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</span> <small>by {{ site.author.name }}</small>
    </div>
    <div itemprop="articleBody" class="content">
      {{ content }}
    </div>
      <hr />
      <div class="alert alert-block">
          <h5>About the author</h5>
          <div class="row-fluid">
              <div class="span2">
                  <img src="http://www.gravatar.com/avatar/b23a0fbe8005790e63bf095ee36da94a?s=70" alt="Philipp Bergsmann" />
              </div>
              <div class="span9">
                  <p>
                      I'm Philipp Bergsmann, I co-founded <a href="http://www.opendo.at">opendo</a> in 2010. I work as a
                      TYPO3 developer and IT operations engineer.
                  </p>
                  <p>
                      <a href="https://twitter.com/phbergsmann" class="twitter-follow-button" data-show-count="false">Follow @phbergsmann</a>
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  </p>
              </div>
          </div>
      </div>
      <hr>
<ul class="inline">
    <li>
  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}
    </li>
    <li>
  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}
    </li>
</ul>
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>
</article>